
body {
    overflow-x: hidden;
    overflow-y:auto;
}

.retangulo {
    position: absolute;

    top: -150px;
    left: -55px;   
    height: 80%;
    width: 110%;
    background-image: -webkit-linear-gradient(-248deg, rgba(85, 51, 255, 1) 0%, rgba(5, 213, 255, 1) 56%, rgba(166, 255, 203, 1) 100%);
    background-image: -moz-linear-gradient(-248deg, rgba(85, 51, 255, 1) 0%, rgba(5, 213, 255, 1) 56%, rgba(166, 255, 203, 1) 100%);
    background-image: -o-linear-gradient(-248deg, rgba(85, 51, 255, 1) 0%, rgba(5, 213, 255, 1) 56%, rgba(166, 255, 203, 1) 100%);
    background-image: linear-gradient(-248deg, rgba(85, 51, 255, 1) 0%, rgba(5, 213, 255, 1) 56%, rgba(166, 255, 203, 1) 100%);
    border-bottom: solid -90px #99f;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);    
}


.retangulo2 {
    position: absolute;
    top: 130px;
    left: 1147px;
    height: 100px;
    width: 593px;
    background-image: -webkit-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: -moz-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: -o-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    transform: skew(-10deg);
}


.retangulo3 {

    
    position: absolute;
    top: 470px;
    left: 0px;
    height: 295px;
    width: 593px;
    background-image: -webkit-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: -moz-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: -o-linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    background-image: linear-gradient(-180deg, rgba(17, 189, 255, 1) 0%, rgba(0, 181, 250, 1) 100%);
    transform: skew(-10deg);
}


@media  screen  and (max-width: 800px) {
    .menu {
        img {
            margin-right: 25px;    
         }
         span {
    
            margin-right: 25px;
            padding-top: 5px;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);                 
         }
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 30px;      
        display: flex;       
        flex-direction: row;            
        height: 22px;
        width: 73px;      

    }
}

@media  screen  and (min-width: 801px) {
    .menu {
        img {
    
            margin-right: 25px;
    
         }
         span {
    
            margin-right: 25px;
            padding-top: 5px;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);   
    
         }
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 472px;
        display: flex;
        justify-content: center;
        flex-direction: row;    
        height: 22px;
        width: 73px;   
        
    }

}

@media  screen  and (min-width: 800px) {
    .platform-description{
        span{
            font-family: Helvetica, sans-serif;
            font-size: 28px;        
            text-align: left;
            font-style: normal;
    
        }
        p{
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
        }
        z-index: 2;
        position: absolute;
        top: 120px;
        left:329px;
        height: 72px;
        width: 420px;   
        text-align: left; 
        color: rgba(255, 255, 255, 1); 
    
    }
}

@media  screen  and (max-width: 801px) {
    .platform-description{
        span{
            font-family: Helvetica, sans-serif;
            font-size: 28px;        
            text-align: left;
            font-style: normal;
    
        }
        p{
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
        }
        z-index: 2;
        position: absolute;
        top: 120px;
        left:30px;
        height: 72px;
        width: 420px;   
        
        color: rgba(255, 255, 255, 1); 
    
    }
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.confirme-buttom {
    padding: 10px; 
    padding-left: 20px;
    padding-right: 20px; 
    background-color: rgba(76, 228, 157, 1);
    border-radius: 24px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15); 
    text-align: center;    
    span{
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: rgba(255, 255, 255, 1); 

    }
}

.white-buttom {
    padding: 10px; 
    padding-left: 20px;
    padding-right: 20px; 
    background-color: rgba(244, 244, 244, 1);
    border-radius: 24px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15); 
    text-align: center; 
    margin-left: 30px;   
    span{
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: rgba(118, 141, 244, 1); 

    }
}

.disabled-button{
    height: 48px;
    width: 135px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 24px;    
    padding-top: 5px;
    padding-bottom: 5px;
   
    div{
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;             
        color: rgba(118, 141, 244, 1);
        padding-top:13px;
        text-align: center;
    }
    
}

@media  screen  and (max-width: 800px) {
    .form{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        .input {
            height: 48px;
            width: 350px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 24px;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
            div.text{
                margin-top: 15px;
                margin-left: 20px;
                color: rgba(68, 84, 255, 1);
                font-size: 16px;
                font-family: Arial, sans-serif;
                font-style: normal;
                font-weight: bold;             
            }
        }
    }

}

@media  screen  and (min-width: 801px) {
    .form{
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        .input {
            height: 48px;
            width: 620px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 24px;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
            div{
                margin-top: 15px;
                margin-left: 20px;
                color: rgba(68, 84, 255, 1);
                font-size: 16px;
                font-family: Arial, sans-serif;
                font-style: normal;
                font-weight: bold;             
            }
        }
    }

}

.aspas1{
    position: relative;
    top:0px;
    left: -5px;    
    width: 18px;
    font-family: 'Lato-Regular';
    font-size: 48px;
    color: rgba(68, 84, 255, 1);
    text-align: left;
}

.aspas2{
    position: relative;
    bottom: 3px;
    right: 3px;    
    width: 18px;
    font-family: 'Lato-Regular';
    font-size: 48px;
    color: rgba(68, 84, 255, 1);
    text-align: left;
}


@media  screen  and (max-width: 800px) {
    .celphone{         
        padding: 7px;              
        background-color: rgba(255, 255, 255, 1);
        border-radius: 25px;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
       
    
    } 
}

.title {           
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    font-family: Arial, sans-serif;
    font-style: normal;
}

@media  screen  and (min-width: 801px) {
    .celphone{              
        padding: 7px;       
        background-color: rgba(255, 255, 255, 1);
        border-radius: 25px;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);         
    }
    
}

@media  screen  and (max-width: 800px) {
    .celphone-pin-pad{
        position: absolute;
        z-index: 2; 
        top: 300px; 
        font-family: 'Lato-Bold';
                       
    }

}

.title {           
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold
}
.title2 {           
    font-size: 13px;
    color: rgba(153, 153, 153, 1);
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold
}    

@media  screen  and (min-width: 801px) {
    .celphone-pin-pad{
        position: absolute;
        z-index: 2;
        top: 93px;
        left: 850px;
       
    }

}


.pin-pad {
    position: absolute;
    top: 170px;
    left:217px;
  
    height: 312px;
    width: 300px;
    z-index: 4;
    padding: 4px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div1 {
        
        width: 268px;
        background-color: rgba(222, 222, 222, 1);
        border-radius: 24px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 4px;
        margin-bottom: 5px;
        
    } 
    div.flex {       
        display: flex;
        flex-direction: row;
       
       
        div{             
            height: 48px;
            width: 84px;
            background-color: rgba(242, 242, 242, 1);
            border-radius: 24px;
            margin: 5px           
        } 
    }
    

}

.content{       
    position: absolute;
    top: 800px; 
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;   
}

@media  screen  and (max-width: 800px) {
    .card-planos{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        div.card{
            padding: 25px;
            height: 236px;
            width: 300px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 25px;
            margin-top: 30px;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);    
        }       
        
    }

}

@media  screen  and (min-width: 801px) {    
    .card-planos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        div.card{
            padding: 25px;
            height: 236px;
            width: 300px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 25px;
            margin-left: 30px;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);

        }

    }

}

@media  screen  and (min-width: 801px) {
    .apresentacao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
}

@media  screen  and (max-width: 800px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

}






